

<h1>5008 - Accidentes Aéreos</h1>

<div class="ui link cards">
  <div class="card">
    <div class="image"  style="width: 260px; height:180px">
      <img src="https://raw.githubusercontent.com/Duilius/PI-03/main/piloto_comercial.jpg" with="100%" height="auto">
    </div>
    <div class="content">
      <div class="header"><h2>Oper. Comerciales</h2></div>
      <div class="meta">
        <a>Muchas aerolineas</a>
      </div>
      <div class="description"><h1 style="color: cyan">{{tot_acc_operador[1][1]}}</h1></div>
    </div>
    <div class="extra content">
      <span class="right floated">Joined in 2013 </span>
      <span><i class="user icon"></i> 75 Amigos </span>
    </div>
  </div>
  <div class="card">
    <div class="image"  style="width: 260px; height:180px">
      <img src="https://raw.githubusercontent.com/Duilius/PI-03/main/piloto_militar.jpg" with="260px" height="=180">
    </div>
    <div class="content">
      <div class="header"><h2>Oper. Militares</h2></div>
      <div class="meta">
        <span class="date">Más de USA y Europa </span>
      </div>
      <div class="description"><h1 style="color: green">{{tot_acc_operador[0][1]}}</h1></div>
    </div>
    <div class="extra content">
      <span class="right floated">Joined in 2011 </span>
      <span><i class="user icon"></i> 35 Amigos </span>
    </div>
  </div>
  <div class="card">
    <div class="image"  style="width: 260px; height:180px">
      <img src="https://raw.githubusercontent.com/Duilius/PI-03/main/piloto_privado.jpg" with="260px" height="=180">
    </div>
    <div class="content">
      <div class="header"><h2>Oper. Privados</h2></div>
      <div class="meta">
        <a>Servicios Exclusivos</a>
      </div>
      <div class="description"><h1 style="color: violet">{{tot_acc_operador[2][1]}}</h1></div>
    </div>
    <div class="extra content">
      <span class="right floated">Joined in 2014 </span>
      <span><i class="user icon"></i> 151 Amigos </span>
    </div>
  </div>
</div>

